header.header {
  background: rgb(39,63,173);
  background: linear-gradient(90deg, rgba(39,63,173,1) 0%, rgba(158,90,193,1) 95%);
  padding-top: 2rem;
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}